@import "./variables.scss";

.adminInfo {
  font-family: $main-font;
  margin-left: 2rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  & span {
    font-size: $font-small;
    font-weight: bolder;
  }
}

.edit {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3rem;

  & .Section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30vw;

    & span {
      font-size: $font-extra-small;
      font-weight: 500;
    }

    & input {
      font-size: $font-extra-small;
      padding: 0.5rem;
      width: 80%;
      border: none;
      background-color: #fff;
      border: 0.5px solid rgb(196, 196, 196);
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(206, 206, 206, 0.5);
    }
  }
}

.info {
  right: 6rem;
  top: 8rem;
  position: fixed;
  height: 70%;
  width: 30%;
  background-color: #000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(200, 233, 255), rgb(141, 203, 255));
  font-family: $main-font;
  box-shadow: 0 25px 50px rgb(190, 190, 190);

  & .name {
    margin-top: 1rem;
    font-weight: 500;
  }

  & img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.226);
  }

  & .infoSec {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 20px;

    & span i {
      margin-right: 1rem;
    }
  }
}

.submitBtn {
  background-color: #0f36bf;
  color: #fff;
  width: 15%;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 20px;
  font-size: $font-extra-small;
  font-weight: bolder;
  font-family: $main-font;
  transition: .3s ease all;

  &:hover{
    box-shadow: 0 10px 20px #0f35bf7a;
  }
}
