@import "./variables.scss";

.topNav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: $header-height;
  z-index: 10;
  font-size: $font-small;
  font-family: $main-font;
  width: calc(100vw - 20vw);
  position: fixed;
  right: 0;

  & img {
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  & i {
    font-style: normal;
    cursor: pointer;
    margin-right: 1rem;
    font-size: $font-small;
    padding: .75rem;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
  }
}

.imgSec{
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  & .imgInfo{
    display: flex;
    flex-direction: column;
    font-size: 15px;

    & span{
      color: $text-dark;
    }
  }
}