@import "./variables.scss";

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5rem;
}

.dropdown {
  background-color: #0aa1dd;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px #0aa1dd5e;
  cursor: pointer;

  & .drop {
    color: #fff;
    font-weight: 500;
  }
}

.bar_graph {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: calc(100vw - 30vw);
}

.donut_chart {
  padding: 1rem;
  background-color: #fff;
  width: 25%;
  box-shadow: 0 15px 30px rgb(218, 218, 218);
  border-radius: 10px;
}

.mostVisitingPlace {
  height: 225px;
  width: 400px;
  background-color: #bbcbff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(224, 224, 224);

  & .line{
    font-size: 25px;
    color: #575757
  }
}

.userPlaces {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 1rem;
}

.card {
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;

  & .cardImg {
    height: 30px;
    width: auto;
    border-radius: 5px;
  }

  & .place{
    display: flex;
    flex-direction: column;
  }

  & .nos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .takeThere{
    cursor: pointer;

    & .arrowRight{
        font-size: 22px;
    }
  }
}
