@import "./variables.scss";

.login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  filter: blur(5px);
}

.imageOverlay {
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.651));
  top: 0;
  left: 0;
}

.mainImage,
.imageOverlay {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 100px;
  width: auto;
}

.loginInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 40px 60px rgba(0, 0, 0, .7);
}

.title {
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-weight: $bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.inputInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin-bottom: 2rem;
}

.input {
  border: none;
  height: 35px;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.Info {
  margin-bottom: 1rem;
  font-family: $main-font;
  font-weight: bold;
  color: rgb(0, 59, 18);
}

.login_btn {
  border: none;
  width: 85%;
  height: 40px;
  background-color: $main-color;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba($main-color, 0.5);
  transition: 0.4s;
  cursor: pointer;

  & span {
    font-family: $main-font;
    font-size: $font-small;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  
  &:hover {
    box-shadow: none;
  }
}
