@import "./variables.scss";

.sideBar {
  font-family: $main-font;
  padding: 1rem;
  width: 15vw;
  left: 0;
  background-color: #FBFCFF;
  border-right: 1px solid #D9E1FF;
  height: 100vh;
  position: fixed;
  border-radius: 20px;
  z-index: 10;

  & .title {
    font-size: $font-small;
    font-weight: bolder;
  }

  & .nav-list {
    margin-top: 3rem;

    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-left: 0.5rem;
      font-weight: 400;
      font-size: $font-small;

      & .navItem {
        padding: 0.75rem;
        transition: 0.2s ease all;
        text-decoration: none;

        &:hover {
          box-shadow: 0 4px 8px rgb(214, 214, 214);
          border-radius: 15px;
        }
      }

      & .active{
          color: #fff;
          background-color: rgb(41, 41, 41);
          box-shadow: 0 4px 8px rgb(214, 214, 214);
          padding: 0.75rem;
          border-radius: 15px;
          transition: 0.4s all ease;

          & .navLink{
            text-decoration: none;
            color: #fff;
          }
        }

      & a {
        cursor: pointer;
        color: rgb(32, 32, 32);
      }
    }
  }
}