@import './variables.scss';

.heading{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.head{
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(44, 44, 44);
}

.inf{
    color: rgb(95, 95, 95);
}

.buttonUser{
    background-color: #0AA1DD;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 10px 20px #0aa1dd63;
}

.btn{
    margin-top: 1.5rem;
    cursor: pointer;
}