@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// Font and typography
$main-font: 'Roboto', sans-serif;
$extra-bold: 900;
$bold: 700;
$medium: 500;
$light: 400;
$extra-light: 300;
$font-extra-large: 6rem;
$font-large: 4rem;
$font-medium: 3rem;
$font-small: 1rem;
$font-extra-small: .75rem;

// colors
$background-light: #fff;
$main-color: rgb(0, 47, 90);
$text-light: #fff;
$text-dark: rgb(53, 53, 53);
$text-extra-light: rgb(105, 105, 105);
$header-height: 50px;
$sidebar-width: 20vw;

*{
    margin: 0;
    padding: 0;
}

.main{
    height: calc(100vh - $header-height - 2rem);
    width: calc(100vw - $sidebar-width );
    right: 0;
    bottom: 0;
    position: fixed;
    font-family: $main-font;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 2rem;
}